<footer class="footer">

  <!-- CTA -->
  <div class="footer-cta">
    <div>
      <h3>¿Viviste o presenciaste una situación?</h3>
      <p>Contamos con canales seguros y confidenciales para ayudarte.</p>
    </div>
    <button href="#">Reportar ahora →</button>
  </div>


  <!-- CONTENIDO -->
  <div class="footer-main">
    
    <div class="footer-brand">
      <img src="../assets/images/logo-inchcape.png" alt="Logo Inchcape" class="footer-logo">
      <p>Respeto en la Industria</p>
    </div>

    <div class="footer-links">
      <h4 href="#">Informate</h4>
      <a >¿Qué es el acoso?</a>
      <a >¿Qué es discriminación?</a>
      <a >Ejemplos</a>
    </div>

    <div class="footer-links">
      <h4 href="#">Nosotros</h4>
      <a >Políticas</a>
      <a >Capacitaciones</a>
      <a >Reportar</a>
    </div>

    <div class="footer-links">
      <h4 href="#">Reportar</h4>
      <a >Ley 27942</a>
      <a >Políticas</a>
      <a >Avances</a>
      <a >Capacitaciones</a>
      <a >Compromisos</a>
    </div>

  </div>

  <!-- CONFIDENCIALIDAD -->
  <div class="footer-conf">
    🔐 Toda la información es confidencial y se maneja según la normativa peruana.
  </div>

  <!-- COPY -->
  <div class="footer-bottom">
    © 2025 Inchcape Perú
  </div>

</footer>

  